{{ define "main"  }}
<div class="container">
    <div class="row">
        <main id="mainContent" class="col-12 col-lg-8 mx-auto">
            {{ .Content }}

          <div id="confirmation"></div>
        </main>
        <aside class="col-12 col-lg-4 mx-auto pt-5">
            <section class="contact-us">
                <h4>Contact</h4>
                <div class="row pb-3">
                    <div class="col-1 p-2">
                        <span class="fa-stack d-flex align-items-center justify-content-center">
                            <a href="tel:+1231676114" title="Traverse City Knife Sharpening">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-phone fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-11 p-2">
                        <div class="col-12"><strong>Phone: </strong></div>
                        <div class="col-12"><span><a href="tel:+1231676114" title="Call Now">231 676 1314</a></span></div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-1 p-2">
                        <span class="fa-stack d-flex align-items-center justify-content-center">
                            <a href="#contact" title="contact us">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-envelope fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-11 p-2">
                        <div class="col-12"><strong>Email: </strong></div>
                        <div class="col-12"><span><a href="#contact" title="contact form">info@onpointcutlery.com</a></span></div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12"><h4>Address</h4></div>
                    <div class="col-1 p-2">
                        <span class="fa-stack d-flex align-items-center justify-content-center">
                            <a href="tel:+1231676114" title="Traverse City Knife Sharpening">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-map-marker fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-11 p-2">
                        <div class="col-12"><strong>Address: </strong></div>
                        <div class="col-12">
                            <address>
                                <ul>
                                    <li>On Point Cutlery</li>
                                    <li>PO BOX 291</li>
                                    <li>Traverse City, Michigan 49685</li>
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
            </section>
            <section class="related">
                <h4>Other Services</h4>

                {{ $related := .Site.RegularPages.Related . | first 5 }}
                {{ with $related }}
                <ul class="list-unstyled">
                    {{ range . }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <p>{{ .Description }}</p>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
                
                </div>
            </section>
        </aside>
    </div>
</div>

<style>
#confirmation {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 1em auto;
}
</style>



<script defer>

(function(){

  document.addEventListener("DOMContentLoaded", (e) => {

const confirmation = document.getElementById("confirmation")

    console.log(confirmation)

  if (!confirmation || typeof confirmation === "undefined") return null
const confMsg = window.confirm("Hey, thanks for contacting us!  Just a quick reminder: our minimum service fee is $50USD.  Do you understand?")

    confMsg ? 
      confirmation.innerText = "Thank you for confirming"  : 
      confirmation.innerText = "Heads Up!!! Our minimum service fee is $50 USD.  Thank you. " 
})
})
()


</script>

{{ end }}
