/*
Swedish Palette FlatUI.com
*/
/*********************
******Animations******
**********************/
/*********************
**Layouts**************
**********************/
*,
*::before,
*::after,
html,
body {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #fff;
  font-family: "Dejavu Sans", Helvetica, sans-serif, monospace;
  font-size: 18px;
  transition: all 450ms ease-in-out 350ms;
}

body.hide-me {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0.25em;
}

img {
  max-width: 100%;
}

img + p {
  text-align: left;
}

p {
  padding: 1em;
}

.box-shadow {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper #content .single-page {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}
.wrapper #content .single-page header h1 {
  font-size: 4vmax;
  padding: 0;
  text-align: center;
}
.wrapper #content .single-page ol {
  margin: 0 auto 1em;
  padding-left: 1em;
}
.wrapper #content .single-page ol li {
  padding-left: 0.25em;
}
.wrapper #content .single-page ul {
  list-style: none;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: 100%;
}
.wrapper #content .single-page ul li {
  padding-left: 1.5em;
  text-align: left;
  width: 100%;
}
.wrapper #content .single-page ul li a {
  text-decoration: none;
}
.wrapper #content .single-page .row {
  flex-direction: column;
}
.wrapper #content .single-page .row p {
  color: #485460;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}
.wrapper #content .single-page .row button.read-more {
  animation: shine 10s ease inifinite;
  background: linear-gradient(0.75turn, #0fbcf9, #0fbcf9);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: center;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto 1em;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  width: 250px;
}
.wrapper #content .single-page .row button.read-more:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.wrapper #content .single-page .row button.read-more:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-100px) skew(-15deg);
}
.wrapper #content .single-page .row button.read-more:hover {
  background-image: linear-gradient(to left, #0fbcf9, #0fbcf9);
  box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
  transform: scale(1.04);
}
.wrapper #content .single-page .row button.read-more:hover::before, .wrapper #content .single-page .row button.read-more:hover::after {
  transform: translateX(300px) skewX(-15deg);
  transition: 0.7s;
  -webkit-transition: 0.7s;
}
.wrapper #content .single-page .row button.read-more a {
  color: #fff;
  display: block;
  min-height: 100%;
  padding: 0.25em 0;
  text-decoration: none;
  min-width: 100%;
}
.wrapper .row {
  padding: 0 0.25em;
}
.wrapper .row .container {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.wrapper .row .container h2 {
  font-size: 5vmin;
}
.wrapper .row .card-header {
  margin: 1em auto;
  text-align: center;
}
.wrapper .row .card-header h3 {
  color: #485460;
  font-weight: 800;
  text-align: center;
}
.wrapper .row .card-header h3 + span {
  display: inline-block;
  margin: 1em auto;
}
.wrapper .row h2 {
  margin: 1em auto;
  text-align: center;
}
.wrapper .row .col-33 {
  margin: 0 auto;
  padding: 0 0.5em;
  width: 100%;
}
.wrapper .row .col-33 a {
  color: #0be881;
  display: block;
  text-decoration: none;
  width: 100%;
}
.wrapper .row .col-33 a button.read-more {
  animation: shine 10s ease inifinite;
  background: linear-gradient(0.75turn, #0fbcf9, #0fbcf9);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: center;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto 1em;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  width: 250px;
}
.wrapper .row .col-33 a button.read-more:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.wrapper .row .col-33 a button.read-more:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-100px) skew(-15deg);
}
.wrapper .row .col-33 a button.read-more:hover {
  background-image: linear-gradient(to left, #0fbcf9, #0fbcf9);
  box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
  transform: scale(1.04);
}
.wrapper .row .col-33 a button.read-more:hover::before, .wrapper .row .col-33 a button.read-more:hover::after {
  transform: translateX(300px) skewX(-15deg);
  transition: 0.7s;
  -webkit-transition: 0.7s;
}
.wrapper .row .col-33 .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  transform: scale(1);
  transition: 250ms ease-in-out 0s;
}
.wrapper .row .col-33 .card:hover {
  box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
  transform: scale(1.04);
}
.wrapper .row .col-33 .card .fas {
  transition: color 250ms ease-in-out 0.2s;
}
.wrapper .row .col-33 .card:hover .fas {
  color: #0fbcf9;
}
.wrapper .row .col-33 .card header {
  margin-bottom: 1em;
}
.wrapper .row .col-33 .card .card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .row .col-33 .card .card-body p {
  color: #808e9b;
}
.wrapper .row .col-50 {
  margin: 0 auto;
  width: 100%;
}
.wrapper .row .col-50 .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.wrapper .row .col-50 .card .card-body {
  text-align: center;
}
.wrapper .row .col-50 .card .card-body img + p {
  color: #1e272e;
  font-weight: 400;
  padding: 1em;
}
.wrapper .row .col-50 .card .card-body + .card-footer {
  display: block;
  width: 100%;
}
.wrapper .row .col-50 .card .card-body + .card-footer a {
  display: block;
  margin: 0 auto;
  padding: 1.5em 1.5em;
}
.wrapper .row .col-50 .card .card-body + .card-footer a .read-more {
  background: #0fbcf9;
  color: #fff;
  cursor: pointer;
  border: none;
  display: block;
  letter-spacing: 0.25vmin;
  margin: auto;
  max-width: 250px;
  min-height: 80px;
  padding: 1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  width: 100%;
}
.wrapper .row .col-50 .card .card-body + .card-footer a .read-more:hover {
  transform: scale(1.04);
}
.wrapper .row .col-50 h3 {
  margin: 1em auto 0.25em;
  text-align: center;
}
.wrapper .row .col-50 h3 + span {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
}
.wrapper .row .col-50 a {
  color: #0be881;
  text-decoration: none;
}
.wrapper .row .col-50 a .read-more {
  border: 0;
  display: block;
}
.wrapper .row p {
  color: #808e9b;
  font-style: italic;
  margin: auto;
  max-width: 60ch;
}
.wrapper .clients {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.wrapper .clients header h2 {
  font-size: 3vmax;
}
.wrapper .clients .container ul {
  list-style: none;
}
.wrapper .clients .container ul li a {
  color: #485460;
  text-decoration: underline;
  transition: color 250ms ease-in-out;
}
.wrapper .clients .container ul li a:hover {
  color: #808e9b;
}
.wrapper .slides {
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.wrapper .slides .inner-slides {
  display: flex;
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
  width: 100%;
}
.wrapper .slides .inner-slides .slide {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 100%;
  text-align: center;
}
.wrapper .slides .inner-slides .slide .row .col-50 span.testimonial {
  max-width: 60ch;
  text-align: left;
}
.wrapper .slides .inner-slides .slide .row .col-50 figure figcaption span {
  color: #333;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 300;
}
.wrapper .slides .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapper .slides .buttons-container button {
  background: #0fbcf9;
  color: #fff;
  border: 1px solid black;
  max-height: 50px;
  min-height: 40px;
  width: 49.5%;
}
.wrapper #content {
  padding-top: 66px;
}
.wrapper #content main .homepage-header .row .col h1 {
  padding: 0;
  text-align: center;
}
.wrapper #content main .homepage-header .row .col h1 + span {
  color: #808e9b;
  display: inline-block;
  font-weight: 200;
  font-style: initial;
  text-align: center;
  padding: 0 0.25em;
}
.wrapper #content main .homepage-header .row .col p {
  text-align: left;
  padding: 1em;
}
.wrapper .main-footer .row {
  padding: 1em;
  width: 100%;
}
.wrapper .main-footer .row .container {
  width: 100%;
}
.wrapper .main-footer .row .container h4 {
  font-size: 4vmin;
  font-weight: 800;
  text-align: center;
}
.wrapper .main-footer .row .container .col {
  margin: 1em auto;
  width: 100%;
}
.wrapper .main-footer .row .container .col header h5 {
  text-align: center;
}
.wrapper .main-footer .row .container .col ul {
  list-style: none;
}
.wrapper .main-footer .row .container .col ul li {
  margin: auto;
  max-width: 350px;
  text-align: center;
}
.wrapper .main-footer .row .container .col ul li:nth-child(2n+1) {
  background-color: #f9f9f9;
}
.wrapper .main-footer .row .container p a {
  color: #0be881;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.wrapper .main-footer .row .container p a:hover, .wrapper .main-footer .row .container p a:active {
  color: #0fbcf9;
}
.wrapper .main-footer .footer-links ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
}
.wrapper .main-footer .footer-links ul li {
  margin: 0 2em;
  text-align: center;
  width: 100%;
}
.wrapper .main-footer .footer-links ul li a {
  color: #485460;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.wrapper .main-footer .footer-links ul li a:hover, .wrapper .main-footer .footer-links ul li a:active {
  color: #0be881;
}
.wrapper .main-footer .footer-links p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*********************
**Mobile Navigation***
**********************/
#nav-toggle {
  display: none;
}

#nav-toggle-label {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}
#nav-toggle-label a {
  color: #808e9b;
  padding: 0.25vmin 0.5vmin;
  text-decoration: none;
}
#nav-toggle-label .hamburger {
  background-color: #485460;
  border-radius: 10px;
  height: 3px;
  margin: 1.75em 2em;
  position: relative;
  width: 40px;
}
#nav-toggle-label .hamburger:before, #nav-toggle-label .hamburger:after {
  background: #485460;
  border-radius: 10px;
  content: "";
  height: 3px;
  position: absolute;
  width: 40px;
}
#nav-toggle-label .hamburger:before {
  top: -7px;
}
#nav-toggle-label .hamburger:after {
  bottom: -7px;
}

.main-nav {
  background: rgba(255, 255, 255, 0.85);
  display: block;
  height: 0;
  margin: 0 auto;
  position: fixed;
  overflow: auto;
  top: calc(66px);
  transition: height 250ms ease-in-out 0.3s;
  width: 100%;
  z-index: 99999999999;
}
.main-nav a.logo {
  display: none;
  text-decoration: none;
}
.main-nav ul {
  background: rgba(255, 255, 255, 0.85);
  display: block;
  list-style: none;
}
.main-nav ul li {
  padding: 0.5em 2em;
}
.main-nav ul li a {
  display: block;
  color: #1e272e;
  padding: 1em 1.5em;
  text-align: left;
  text-decoration: none;
  transition: color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
}
.main-nav ul li a:hover {
  color: #0be881;
}

#nav-toggle:checked ~ nav {
  height: 100vh;
}

main .homepage-header {
  /*background-image: linear-gradient(to bottom, rgba(255,255,255,0.65), rgba(255,255,255,0.65)),
                     url('../images/grinding-wheel.jpg'); */
  background-size: cover;
  background-position: center;
  min-width: 100vmin;
}

.main-header {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  main .homepage-header {
    text-align: center;
  }

  .wrapper .row .container {
    padding: 0;
    width: 100%;
  }
  .wrapper #content .single-page h1, .wrapper #content .single-page h2, .wrapper #content .single-page h3, .wrapper #content .single-page h4, .wrapper #content .single-page h5, .wrapper #content .single-page h6 {
    padding-top: 1em;
  }
  .wrapper #content .single-page .row p {
    font-style: initial;
    text-align: center;
  }
  .wrapper #content .single-page .row ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: square inside;
    margin: auto;
    max-width: 60ch;
  }
  .wrapper #content .single-page .row ul li {
    max-width: 60ch;
    text-align: left;
  }
  .wrapper .main-footer .footer-links {
    align-items: start;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .wrapper .main-footer .footer-links ul {
    flex-direction: column;
    flex-wrap: wrap;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    list-style: none;
    justify-content: flex-start;
    margin: 0 auto;
    max-height: 100px;
  }
  .wrapper .main-footer .footer-links ul li {
    display: inline;
    margin: 0 auto;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .wrapper .main-footer .footer-links ul li a {
    display: block;
    font-size: 14px;
  }
  .wrapper .main-footer .footer-links .address {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    padding-top: 0.25em;
  }
  .wrapper .main-footer .footer-links .address p {
    font-size: 14px;
    padding: 0;
    text-align: left;
  }
  .wrapper .main-footer .footer-links .address p a {
    color: #0fbcf9;
    text-decoration: none;
    transition: color 250ms ease-in-out;
    -webkit-transition: 250ms ease-in-out;
  }
  .wrapper .main-footer .footer-links .address p a:hover {
    color: #808e9b;
  }
  .wrapper .main-footer .row .container p {
    font-size: 12px;
    max-width: 100ch;
    text-align: center;
  }
}
@media screen and (min-width: 968px) {
  #nav-toggle-label {
    display: none;
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
  }
  .wrapper #content {
    padding-top: 0;
  }
  .wrapper #content main {
    margin: 0 auto;
    max-width: 968px;
  }
  .wrapper #content main .homepage-header .container .row {
    padding: 0;
  }
  .wrapper #content main .homepage-header .container .row .col {
    margin: 0 auto;
    padding: 1em;
    width: 50%;
  }
  .wrapper .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper .row .container {
    display: flex;
    flex-direction: row;
  }
  .wrapper .row .col-33 {
    width: 33%;
  }
  .wrapper .row .col-50 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 45%;
  }
  .wrapper .row #nav-toggle-label a {
    font-size: 24px;
    padding-left: 1.33em;
    padding-top: 1em;
  }
  .wrapper .row #nav-toggle-label .hamburger {
    display: none;
  }
  .wrapper .row .w-100 {
    width: 100%;
  }
  .wrapper .clients {
    flex-direction: column;
  }
  .wrapper .clients header h2 {
    font-size: 2.5vmax;
  }
  .wrapper .clients .container {
    text-decoration: center;
  }
  .wrapper .clients .container ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: left;
  }
  .wrapper .clients .container ul li {
    display: inline;
    padding: 1em 1.5em;
    text-align: left;
  }
  .wrapper .clients .container ul li:nth-child(1) {
    padding-left: 0;
  }
  .wrapper .clients .container ul li a {
    font-weight: 500;
  }
  .wrapper .main-nav {
    align-items: center;
    background-color: white;
    color: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: unset;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    position: initial;
  }
  .wrapper .main-nav a.logo {
    display: initial;
    color: #1e272e;
    font-weight: 800;
    text-align: left;
  }
  .wrapper .main-nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    list-style: none;
  }
  .wrapper .main-nav ul li {
    padding: 1em;
  }
  .wrapper .main-nav ul li a {
    color: #1e272e;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-decoration: none;
  }
  .wrapper .main-nav ul li a:hover {
    color: #808e9b;
    font-weight: 500;
  }
  .wrapper .main-nav ul li a::after {
    bottom: -7px;
    background: #0be881;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    width: 100%;
  }
  .wrapper .main-nav ul li a:hover::after {
    transform: scaleX(1);
  }
  .wrapper .main-footer .row .container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper .main-footer .row .container h4 {
    font-size: 1.25vmax;
    padding-bottom: 1em;
  }
  .wrapper .main-footer .row .container .col {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 20%;
    flex-direction: column;
  }
  .wrapper .main-footer .row .container .col header h5 {
    position: relative;
  }
  .wrapper .main-footer .row .container .col header h5:after {
    background: #666;
    bottom: -21px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin: 1em auto;
    position: absolute;
    transform: translateX(-50%);
    width: 80px;
  }
  .wrapper .main-footer .row .container .col ul {
    margin: 1em auto;
  }
  .wrapper .main-footer .row .container .col ul li {
    margin: 0 auto;
    text-align: left;
    max-width: 200px;
  }

  section.row.slides {
    margin: 0 auto 1em;
    padding: 1em;
    width: 968px;
  }
  section.row.slides .inner-slides {
    padding: 1em;
  }
  section.row.slides .inner-slides .slide {
    width: 100%;
  }
}
@media screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1366px;
  }
  .wrapper #content {
    margin: 0 auto;
  }
  .wrapper #content main .homepage-header .container .row .col {
    margin: 0 auto;
    width: 45%;
  }
  .wrapper #content main .homepage-header .container .row .col figure {
    margin-top: 0;
  }
  .wrapper #content main .homepage-header .container .row .col .subtitle {
    margin-left: 0;
    padding: 0;
    text-align: left;
  }
  .wrapper #content main .homepage-header .container .row .col p {
    padding: 1.5em;
    text-align: left;
  }
  .wrapper #content main .homepage-header .container .row .col:nth-child(2n) {
    padding-top: 3em;
  }
  .wrapper .row .container {
    display: flex;
    flex-direction: row;
  }
  .wrapper .main-nav ul li a {
    font-size: 1.25vmax;
    font-weight: 500;
  }
}
@media screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1920px;
  }
  .wrapper .row {
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 0;
  }
  .wrapper .row .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1366px;
  }
  .wrapper .row .main-nav {
    padding: 0;
  }
  .wrapper .row .main-nav ul li a {
    font-size: 1vmax;
  }
  .wrapper #content {
    padding-top: 0;
  }
  .wrapper #content main {
    min-width: 100%;
  }

  main .homepage-header {
    background-attachment: fixed;
    background-image: url("../images/grinding-wheel.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 45px);
    opacity: 1;
    position: relative;
    transition: background-position 0ms ease;
    width: 100%;
  }
  main .homepage-header .container {
    display: block;
    margin: 0 auto 1em;
    min-width: 768px;
    width: 100%;
  }
  main .homepage-header .container .row {
    display: flex;
  }
  main .homepage-header .container .row .col {
    margin: 0 auto;
    padding: 1em;
    width: 50%;
  }
  main .homepage-header .container .row .col figure img {
    display: block;
    padding-top: 1em;
    object-fit: cover;
  }
  main .homepage-header .container .row .col h1 {
    color: #000;
    display: block;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
  }
  main .homepage-header .container .row .col h1 + .subtitle {
    color: #333 !important;
    display: inline-block;
    padding-left: 0.5em;
    font-weight: 600;
  }
  main .homepage-header .container .row .col:nth-child(odd) {
    display: none;
  }
  main .homepage-header .container .row .col:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.66);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .homepage-header .container p {
    color: #000;
    font-style: italic;
    font-weight: 400;
    padding-top: 0.75em;
  }
}

/*# sourceMappingURL=style.css.map */
