<!DOCTYPE html>
<html lang="en">
{{ partial "partials/head.html" . }}
<body data-spy="scroll" data-target=".fixed-top">

    {{ partial "partials/navigation.html" . }}
    
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <h1 class="h1-large" data-aos="flip-up" data-aos-duration="500">{{ .Title }}</h1>
                    <h2 data-aos="flip-down" data-aos-duration="500">By On Point Cutlery</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="expertise" data-aos="flip-up" data-aos-duration="500">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="images/icons/cleaver.webp" alt="cleaver" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Commercial<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p>We provide commercial knife sharpening services at your restaurant or commercial kitchen. We come to you so you don't have to halt your service operation</p>
                    </div> <!-- end of expertise -->

                    <div class="expertise" data-aos="flip-up" data-aos-duration="500">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="images/icons/chef-knife.webp" alt="chef knife" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Residential<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p> We provide a quick and easy way to keep your knives razor sharp. We come to you with all the tools and supplies to make it a fast and easy process for you.</p>
                    </div> <!-- end of expertise -->
                    
                    <div class="expertise" data-aos="flip-up" data-aos-duration="500">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="images/icons/van.webp" alt="a van" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Mobile<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p>We have the ability to sharpen knives ranging from pocket knifes to chef knives. Our knife sharpening service is fully mobile, which means that we come to you.</p>
                    </div> <!-- end of expertise -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- About -->
    <div id="about" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">ABOUT</div>
                    <h2 class="h2-heading">Who we are and what we do</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container first">
                        <img class="img-fluid rounded-circle" src="images/knife-wheel.webp" alt="knife wheel" loading="lazy" height="400" width="400">
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container second">
                        <h4>About On Point Cutlery</h4>
                        <p>We are a family-owned and operated business serving Northern Michigan. We provide mobile sharpening services to restaurants, catering companies, chefs, and other foodservice providers in the region.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">2013 - We started On Point Cutlery</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">2014 - We purchased our mobile knife truck</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Present - Serving a wide range of Northern Michigan businesses</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container third">
                        <div class="testimonial-text">"We offer a full range of services from complete restoration to fine sharpening and honing. All of our work is done in house, by us. Every knife we touch receives the same attention to detail and care."</div>
                        <hr>
                        <div class="testimonial-author">Kevin Sloan</div>
                        <div class="p-small">Owner & CEO</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of about -->
    
    
    <!-- Services -->
    <div id="services" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">SERVICES</div>
                    <h2 class="h2-heading">We can help you restore your knives and tools to factory sharpness or better</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/dinner-bell.webp" alt="dinner bell" class="custom-service-icon" loading="lazy" height="100" width="100">
                            <div class="service-details">
                                <h5>Commercial Sharpening</h5>
                                <p>On Point Cutlery provides commercial knife sharpening services in Traverse City. We can sharpen all types of knives and commercial blades, and offer a variety of sharpening options.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/house.webp" alt="home" class="custom-service-icon" loading="lazy" height="100" width="100">
                            <div class="service-details">
                                <h5>Residential Sharpening</h5>
                                <p> On Point Cutlery offers high quality residential knife sharpening services in Traverse City. Our techniques ensure that your kitchen's knives are restored to factor specifications or better.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/van-white.webp" alt="alternative" loading="lazy" class="custom-service-icon" height="100" width="100">
                            <div class="service-details">
                                <h5>Mobile Knife Sharpening</h5>
                                <p> On Point Cutlery specializes in honing your kitchen cutlery to perfection! Whether you own a restaurant or are just looking to improve your kitchen, our mobile sharpening service is here to help.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/garden-tool.webp" alt="alternative" loading="lazy" class="custom-service-icon" height="100" width="100">

                            <div class="service-details">
                                <h5>Garden Tool Sharpening</h5>
                                <p>Our professional sharpening service is perfect for the home cook, busy chef, or hectic household with a large toolbox. We sharpen all types of blades, including scissors, hunting knives, pocket knives, axes, lawn mower blades, and even garden tools.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/axe.webp" alt="alternative" loading="lazy" class="custom-service-icon" height="100" width="100">

                            <div class="service-details">
                                <h5>Woodworking Tool Sharpening</h5>
                                <p> We offer Woodworking Tool Sharpening in Traverse City, MI. We offer Commercial and Residential Sharpening Services. We sharpen  Knives, Axes, Hatchets, Scissors,  and many other Woodworking Tools.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                    <!-- Service -->
                    <div class="service-container">
                        <div class="service-wrapper">
                            <img src="images/icons/chef-knife-white.webp" alt="alternative" loading="lazy" class="custom-service-icon" height="100" width="100">

                            <div class="service-details">
                                <h5>Commercial Knife Swap</h5>
                                <p> On Point Cutlery is located in Traverse City, Michigan and provides Residential and commercial knife sharpening services. We also offer commercial knife exchange programs to businesses like restaurants, bars, and the food industry.</p>
                            </div> <!-- end of service-details -->
                        </div> <!-- end of service-wrapper -->
                    </div> <!-- end of service-container -->
                    <!-- end of service -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-large">On Point Cutlery offers several different knife programs for kitchen knives including sharpening and exchange.
                    The exchange program offers a significant cost savings to commercial kitchens which require a full knife set.
                    Let us take care of your dull knives and we'll replace them with brand new sharp knives.</p>
                    <p class="p-large"><a class="blue no-line" href="#contact"><strong>Contact us</strong></a> today for a quote</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <svg class="services-decoration" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2349.939 110.567"><defs><style>.cls-1{fill:#3f424b;}</style></defs><title>services-decoration</title><path class="cls-1" d="M0,0C282.74,67.647,704.207,110.567,1174.97,110.567S2067.2,67.647,2349.939,0H0Z"/></svg>
    </div> <!-- end of basic-2 -->
    <!-- end of services -->


    <!-- Details 1 -->
    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" data-aos="fade-up" data-aos-duration="1000">
                    <div class="image-container">
                        <img class="img-fluid" src="images/stone-and-cleaver-500x333.webp" loading="lazy" height="333" width="500" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5" data-aos="fade-up" data-aos-duration="1000">
                    <div class="text-container">
                        <h2>Commercial Knife Sharpening</h2>
                        <p>Your commercial knives are dull, newer ones are too expensive</p>
                            <p>We'll sharpen your dull knives and help you get the most out of your knives with our knife exchange program</p>
                            <p>Customers say our knife program has saved them hundreds of dollars</p>
                            <p>Our knife program is the best way to get your knives sharpened and save money.</p>
                        <ul class="list-unstyled li-space-lg" style="display: none;">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We pick up your current knives</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We replace them with freshly sharpened knives</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We replace or repair broken knives</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim mb-2" href="#details-lightbox">Commercial Services</a>
                        <a class="btn-outline-reg page-scroll mb-2" href="#contact">Contact Us</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5" data-aos="fade-up" data-aos-duration="1000">
                    <div class="text-container">
                        <h2>Residential Knife Sharpening</h2>
                        <p> Having a sharp, high-quality knife set in your kitchen is a necessity.
                            Have these knives sharpened for a fraction of the price of a new knife set.
                            We can adjust the edge for a razor sharp edge, a finely honed edge, or a durable edge that is highly resistant to damage.
                            Schedule a sharpening today!</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7" data-aos="fade-up" data-aos-duration="1000">
                    <div class="image-container">
                        <img class="img-fluid" src="images/woman-in-kitchen-500x334.webp" alt="alternative" loading="lazy" height="334" width="500">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of details 2 -->


    <!-- Details Lightbox -->
    <!-- Lightbox -->
	<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
			<div class="col-lg-8">
                <div class="image-container">
                    <iframe class="my-5" loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/-qWfaPJ3hGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <img class="img-fluid" src="images/smiling-chef.webp" loading="lazy" height="768" width="908" alt="alternative"> -->
                </div> <!-- end of image-container -->
			</div> <!-- end of col -->
			<div class="col-lg-4">
                <h3>Commercial Services</h3>
				<hr>
                <p>If you don't have a sharp knife when in the middle of service, it can be difficult to complete.</p>
                <p>If you've been looking for a way to save money and time, we can help. Our sharpening service is quick and easy and we'll pick up your dull knives each time and replace them with freshly sharpened knives.</p>
                <p>With our sharpening service, we pick up your dull knives each time and replace them with freshly sharpened knives. This is a great way to save money on buying new knives and faster than trying to sharpen your own knives.</p>
                <p>Don't let your service be slowed down by dull knives or broken cutlery.</p>
                    
                    
                <h4>Knife Exchange Program</h4>
                <p> On Point Cutlery is a Traverse City, Michigan company that offers commercial knife exchange services for businesses across Northern Michigan. Our experts love what they do, and they use their years of experience to sharpen knives quickly and efficiently.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-chevron-right"></i><div class="media-body">Our knife exchange service is a great way to save time and money.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-chevron-right"></i><div class="media-body">Our professional staff picks up your dull knives and replaces them with fresh sharpened knives.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-chevron-right"></i><div class="media-body">Your service quality will benefit from having high-quality sharpened knives.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-chevron-right"></i><div class="media-body">We offer a range of sharpening services, including serrated, meat, chef, and pocket knives.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-chevron-right"></i><div class="media-body">Our service is available to all professional kitchen staff, chefs, barbers, hairdressers, butchers, florists, carpenters, and gardeners.</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#contact">Contact Us</a> <button class="btn-outline-reg mfp-close as-button" type="button">Back</button>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->


    <!-- Details 3 -->
    <div class="basic-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" data-aos="fade-up" data-aos-duration="1000">
                    <div class="image-container">
                        <img class="img-fluid" src="images/garden-tools-500x353.webp" alt="alternative" loading="lazy" height="353" width="500">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5" data-aos="fade-up" data-aos-duration="1000">
                    <div class="text-container">
                        <h2>Household Tools</h2>
                        <p>On Point Cutlery offers woodworking and garden tool sharpening in Traverse City, Michigan.  We can also sharpen many common household tools like scissors, loppers, hatchets, hedge trimmers, and more!</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Sharpening in Traverse City, Michigan</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Our mobile sharpening van has all the tools necessary</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Sharpening and repair services will help you save money</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-5 -->
    <!-- end of details 3 -->


    <!-- Statistics -->
    <div class="counter" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">1</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="385">1</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="159">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="127">1</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="211">1</div>
                            <p class="counter-info">Orders Received</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->
{{ partial "footer.html" . }}  
</body>
</html>