<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
{{ if .Params.noindex }}
<meta name="robots" content="noindex, nofollow"><!-- All Search Engines -->
<meta name="googlebot" content="noindex, nofollow">
{{ else }}
<meta name="robots" content="index, follow"><!-- All Search Engines -->
<meta name="googlebot" content="index, follow">
{{ end }}

<!-- Geo tags -->
<meta name="ICBM" content="44.74, -85.58">
<meta name="geo.position" content="44.74;-85.58">
<meta name="geo.region" content="US-MI">
<meta name="geo.placename" content="Traverse City">

<!-- Facebook Open Graph-->
<meta property="og:url" content="{{ .Permalink}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="{{ .Site.BaseURL}}images/logo.png">
<meta property="og:image:alt" content="On Point Cutlery Logo">
<meta property="og:description" content="{{ .Params.description}}">
<meta property="og:site_name" content="On Point Cutlery">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="On Point Cutlery">

<!-- Twitter -->
<meta name="twitter:card" content="{{ .Params.description}}">
<meta name="twitter:creator" content="@elkcityhazard">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}images/logo.png">
<meta name="twitter:image:alt" content="Logo ">

<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on">


<title> {{ block "title" . }}
    {{ if .IsHome}} {{ .Site.Title }} {{ else }}  {{ .Params.title }} - {{ .Site.Title}}  {{ end }}
    {{ end }}
</title>

<!-- canonical -->
<link rel="canonical" href="{{ .Permalink }}" />
<!-- Preconnects-->
<link rel="preconnect" href="https://maps.googleapis.com" />
<link rel="preconnect" href="https://maps.gstatic.com" />

<!-- hook up stylesheets-->

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
<link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

{{ if eq .RelPermalink "/contact-us/" }} <link rel="stylesheet" href="{{.Site.BaseURL }}css/contact.css"> {{ end }}
{{ if eq .RelPermalink "/gallery/" }} <link rel="stylesheet" href="{{.Site.BaseURL }}css/gallery.css"> {{ end }}
{{ if eq .RelPermalink "/pricing/" }} <link rel="stylesheet" href="{{.Site.BaseURL }}css/pricing.css"> {{ end }}

<script async defer data-domain="onpointcutlery.com" src="https://stats.protoweb.io/js/plausible.js"></script>

</head>