
{{ define "main" }}
<main role="main">
  <header class="homepage-header">
    <section class="container">
      <div class="row">
        <div class="col">
          <figure>
            <img srcset="
            {{ .Site.BaseURL}}images/cleaver-300w.jpg 768w,
            {{ .Site.BaseURL}}images/cleaver-600w.jpg 1366w,
            " 
            alt=" {{ .Title }}"
            
            src="images/cleaver.jpg"
            height="auto"
            width="100%" />
          </figure>
        </div>
        <div class="col">
          <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
      {{ range .Site.Data.mission }}
      <p>{{ .text }}</p>
      {{ end }}
        </div>
      </div>
    </section>
  </header>
  {{ partial "components/cta.html" . }}
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div>
    {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
  {{ partial "components/quick-about.html" . }}
  {{ partial "components/testimonials.html" . }}
</main>
{{ end }}
