
{{ define "main" }}
{{ partial "components/modal.html"  }}
<header id="parallax" class="homepage-header">
</header>
<main role="main">
  <section class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1>{{.Title}}</h1>
  {{ with .Params.subtitle }}
  <span class="subtitle">{{.}}</span>
  {{ end }}
    {{ range .Site.Data.mission }}
    <p>{{ .text }}</p>
    {{ end }}
      </div>
    </div>
  </section>
  {{ partial "components/cta.html" . }}
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->

    {{.Content}}
  </div>
  <div>
    {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
  {{ partial "components/quick-about.html" . }}
  {{ partial "components/testimonials.html" . }}
</main>
{{ end }}
