<div class="row">
    <div class="container" style="flex-wrap: wrap;">
      {{ range .Section "posts" .Pages }}
      <div class="col-50" style="flex-direction: column;">
        <a href="{{ .Permalink }}" title=" {{ .Name }}">
          <div class="card">
            <header class="card-header">
              <h3>{{ .Name }}</h3>
            </header>
            <div class="card-body">
              <p>{{.Content | safeHTML | truncate 140 }}</p>
            </div>
          </div>
        </a>
        <footer class="card-footer">
          <div class="col-33 w-100">
            <a href="{{ .Permalink }}">
              <button type="button" class="read-more">{{ "read more" | safeHTML }}</button>
            </a>
          </div>
        </footer>
      </div>
      {{ end }}
    </div>
    </div>