<div class="row">
    <div class="container">
      <h2>Schedule A Free Knife Assessment Today!</h2>
    </div>
  </div>
<div class="row">
  <div class="container">
    {{ range .Site.Data.cards }}
    <div class="col-33">
      <a href="{{ .Permalink }}" title=" {{ .title }}">
        <div class="card">
          <header class="card-header">
            <h3>{{ .title }}</h3>
          </header>
          <div class="card-body">
            <i class="{{ .class }}"></i>
            <p>{{ .text }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
  </div>
  <div class="row">
    <div class="col-33">
      <a href="tel:+12316761314"><button class="read-more">Call Now</button></a>
    </div>
</div>