<noscript>
    <style type="text/css">
        .modal-overlay {display:none;}
    </style>
</noscript>

<aside class="modal-overlay" id="modalReel">
    <div class="inner-modal-container">
        <button id="toggle-modal">&times;</button>
        <div class="container">
            <div class="row">
                <h3>We're Glad You're Here!</h3>
            </div>
            <div class="row">
                <video class="reel" src="{{ .Site.BaseURL}}videos/on-point-cutlery-commercial-reel.mp4" width="768" height="432" controls></video>
            </div>
        </div>
    </div>
</aside>