<div class="row">
    <div class="container">
      <h2>We Sharpen On Site For Your Convenience!</h2>
    </div>
  </div>
  <div class="row">
    {{ range .Site.Data.quickAbout }}
    <div class="col-50">
        <div class="card">
          <header class="card-header">
            <h3>{{ .title }}</h3>
          </header>
          <div class="card-body">
            <img src="{{ .Site.BaseURL}}{{ .imgSrc}}" height="60px" width="60px" alt="mobile truck icon">
            <p>{{ .text }}</p>
          </div>
          <footer class="card-footer">
            <div class="col-33 w-100">
              <a href="{{ .Permalink }}">
                <button type="button" class="read-more">{{ .title }}</button>
              </a>
            </div>
          </footer>
        </div>
      
    </div>
    {{ end }}
  </div>