main.single-page {
    padding: 0 !important;
}

section.contact-card {
    margin: 0 auto;
    padding: 0;
    h2 {
        text-align: center;
    }
    .row {
        align-items: flex-start;
        display: flex;
        .col {
            flex: 1 1 100%;
            margin: 0 auto;
            padding: 0;
            .row {
                padding: 0 0 1em 0;
                address {
                    flex: 1 1 100%;
                    ul {
                        align-self: flex-start;
                        list-style: none !important;
                        margin: 0 0 !important;
                        padding: 0 !important;
                        width: 100% !important;
                        li {
                            margin: 0 !important;
                            padding: 0 !important;
                            a {
                                color: #333;
                                text-decoration: underline;
                                transition: color 250ms ease;
                                -webkit-transition: color 250ms ease;
                                -moz-transition: color 250ms ease;
                                &:hover {
                                    color: #0fbcf9;
                                }
                            }
                        }
                    }
                }
                h3,
                h4,
                p {
                    margin: {
                        top: 0;
                        right: auto;
                        left: 0;
                        bottom: .5em;
                    }
                    padding: 0;
                    text-align: left !important; 
                }
            }
        }
    }
}

form {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    fieldset {
        margin: 0 auto;
        max-width: 100%;
        legend {
            max-width: 100%;
            margin: 0 auto;
        }
        .form-control {            
            display: flex;
            flex-direction: column;
            margin: 1em auto;
            padding: 1em;
            text-align: center;
            max-width: 100%;
            input,
            label,
            textarea {
                display: inline;
                vertical-align: center;
                max-width: 100%;
            }
            button {
                background: #0fbcf9;
                border: none;
                color: #fff;
                display: inline-block;
                margin: .5em auto;
                overflow: hidden;
                padding: 1em .25em;
                position: relative;                
                transition: all 250ms ease-in-out 0ms;
                width: 40%;
                white-space: nowrap;
                &:hover {
                    box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.3);
                    transform: scale(1.03);
                }
                &::before {
                    background: rgba(255,255,255,1);
                    content: '';
                    display: block;
                    filter: blur(10px);
                    height: 50px;
                    position: absolute;
                    transform: translateX(-350%) skew(-15deg);
                    top: 0px;
                    width: 25px;
                }
                &::after {
                    background: rgba(255,255,255,1);
                    content: '';
                    display: block;
                    filter: blur(25px);
                    height: 50px;
                    position: absolute;
                    transform: translateX(-350%) skew(-15deg);
                    top: 0px;
                    width: 20px;
                }
                &:hover::before,
                &:hover::after {
                    transform: translateX(500px);
                    transition: all 600ms ease-in-out;
                    -webkit-transition: all 600ms ease-in-out;
                }
            }
            #usernameLabel,
            #username {
                display: none;
                position: absolute;
                left: -1000%;
                max-height: 0;
                max-width: 0;
                opacity: 0;
                z-index: -1;
            }
        }
    }
}

@media screen and (min-width: 499px) {
    .wrapper {
        .row {
            display: block;
            form {
                max-width: 768px;
                fieldset {
                    margin: auto;
                    max-width: 500px;
                    .form-control {
                        align-items: center;
                        justify-content: space-between;
                        max-width: 500px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        label {
                            flex: 1;
                        }
                        input,
                        textarea {
                            flex:2;
                        }
                        .error {
                            flex: 100%;
                            padding-top: .5em;
                            text-align: right;
                        }
                    }
            }
            }
        }
    }
}

@media screen and (min-width: 968px) {
    section.contact-card {
        .row {
            display: flex;
            flex-direction: row !important;
            .col {
                flex: 1 1 50%;
            }
        }
    }
}