/* Whetstone Theme Styles - Andrew McCall */

/*
Swedish Palette FlatUI.com
*/
$black-pearl: rgba(30, 39, 46, 1);
$good-night: rgba(72, 84, 96, 1);
$london-square: rgba(128, 142, 155, 1);
$minty-green: rgba(11, 232, 129, 1);
$spiro-disco-ball: rgba(15, 188, 249, 1);
$hint-of-elusive-pink: rgba(210, 218, 226, 0.25);

/*********************
******Animations******
**********************/



/*********************
**Layouts**************
**********************/

*,
*::before,
*::after,
html,
body {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #fff;
  font-family: 'Dejavu Sans', Helvetica, sans-serif, monospace;
  font-size: 18px;
  height: 100%;
  transition: all 450ms ease-in-out 350ms;
  scroll-behavior: smooth;
  width: 100%;
}

.preloader {
  background: #000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 250ms linear 250ms;
  -webkit-transition: all 250ms linear 250ms;
  -moz-transition: all 250ms linear 250ms;
  width: 100vw;
  z-index: 999999999999;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0.25em;
}

footer.card-footer {
  display: block;
  text-align: center;
  width: 100%;
}

h1 + span.subtitle {
  display: block;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

img + p {
  text-align: left;
}

p {
  padding: 1em;
}

.box-shadow {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}


#toTop {
  opacity: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  transform: translateY(-2em);
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  span {
    font-size: 4vmax;
    a {
      text-decoration: none;
      color: $good-night;
      font-size: 4vmax;
      transition: transform 250ms ease-in-out;
      -webkit-transition: transform 250ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.rotate {
  opacity: 1 !important;
  transform: translateX(-90deg) !important;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
}

.wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  #content {
    .single-page {
      margin: 0 auto;
      padding: 1em;
      width: 100%;
      header {
        h1 {
          font-size: 4vmax;
          padding: 0;
          text-align: center;
        }
      }
      ol {
        margin: 0 auto 1em;
        padding-left: 1em;
        li {
          padding-left: .25em;
        }
      }
      ul {
        list-style: none;
        margin: 0 auto;
        padding: 1em;
        text-align: center;
        width: 100%;
        li {
          padding-left: 1.5em;
          text-align: left;
          width: 100%;
          a {
            text-decoration: none;
          }
        }
      }
      .row {
        flex-direction: column;
        p {
          color: $good-night;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.5;
          text-align: left;
        }
        button.read-more {
          animation: shine 10s ease inifinite;
          background: linear-gradient(
            0.75turn,
            $spiro-disco-ball,
            $spiro-disco-ball
          );
          background-repeat: no-repeat;
          background-size: 400% 400%;
          background-position: center;
          color: #fff;
          border: none;
          display: block;
          margin: 0 auto 1em;
          overflow: hidden;
          padding: 1em 1.5em;
          position: relative;
          transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          width: 250px;
        
          &:before {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            width: 60px;
            height: 100%;
            top: 0;
            filter: blur(30px);
            transform: translateX(-100px) skewX(-15deg);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 100%;
            top: 0;
            filter: blur(5px);
            transform: translateX(-100px) skew(-15deg);
          }
          &:hover {
            &::before,
            &::after {
              transform: translateX(300px) skewX(-15deg);
              transition: 0.7s;
              -webkit-transition: 0.7s;
            }
            background-image: linear-gradient(
              to left,
              $spiro-disco-ball,
              $spiro-disco-ball
            );
            box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
            transform: scale(1.04);
          }
          a {
            color: #fff;
            display: block;
            min-height: 100%;
            padding: .25em 0;
            text-decoration: none;
            min-width: 100%;
          }
        }
      }
    }
  }
  .row {
    padding: 0;
    .container {
      display: block;
      margin: 0 auto;
      width: 100%;
      h2 {
        font-size: 5vmin;
      }
    }
    .card-header {
      margin: 1em auto;
      text-align: center;
      h3 {
        color: $good-night;
        font-weight: 800;
        text-align: center;
      }
      h3 + span {
        display: inline-block;
        margin: 1em auto;
      }
    }
    h2 {
      margin: 1em auto;
      text-align: center;
    }
    .col-33 {
      margin: 0 auto;
      padding: 0 0.5em;
      width: 100%;
      a {
        color: $minty-green;
        display: block;
        text-decoration: none;
        text-align: center;
        width: 100%;
        button.read-more {
          animation: shine 10s ease inifinite;
          background: linear-gradient(
            0.75turn,
            $spiro-disco-ball,
            $spiro-disco-ball
          );
          
          color: #fff;
          border: none;
          display: block;
          margin: 0 auto 1em;
          overflow: hidden;
          padding: 1em 1.5em;
          position: relative;
          transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          width: 250px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            width: 60px;
            height: 100%;
            top: 0;
            filter: blur(30px);
            transform: translateX(-100px) skewX(-15deg);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 100%;
            top: 0;
            filter: blur(5px);
            transform: translateX(-100px) skew(-15deg);
          }
          &:hover {
            &::before,
            &::after {
              transform: translateX(300px) skewX(-15deg);
              transition: 0.7s;
              -webkit-transition: 0.7s;
            }
            background-image: linear-gradient(
              to left,
              $spiro-disco-ball,
              $spiro-disco-ball
            );
            box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
            transform: scale(1.04);
          }
        }
      }
      .card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        opacity: 0;
        transform: scale(1) translateX(-100%);
        transition: all 350ms ease-in-out;
        -webkit-transition: all 350ms ease-in-out;
        &:hover {
          box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
          transform: scale(1.05);
        }
        .fas {
          transition: color 250ms ease-in-out 0.2s;
        }
        &:hover .fas {
          color: $spiro-disco-ball;
        }
        header {
          margin-bottom: 1em;
        }
        .card-body {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            color: $london-square;
          }
        }
      }
      .card.trigger {
        transform: translateX(0) !important;
        opacity: 1 !important;
      }
    }
    .col-50 {
      margin: 0 auto;
      width: 100%;
      .card {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        &:nth-child(2) {
          transform: transformX(0);
          transform: translateY(-100%);
          transition: all 250ms ease-in-out 250ms;
        }
        .card-body {
          margin: .25em auto;
          text-align: center;
          img + p {
            color: $black-pearl;
            font-weight: 400;
            padding: 1em;
          }
        }
        .card-body + .card-footer {
          display: block;
          width: 100%;
          a {
            display: block;
            margin: 0 auto;
            padding: 1.5em 1.5em;
            .read-more {
              background: $spiro-disco-ball;
              color: #fff;
              cursor: pointer;
              border: none;
              display: block;
              letter-spacing: 0.25vmin;
              margin: auto;
              max-width: 250px;
              min-height: 80px;
              padding: 1em;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
              text-transform: uppercase;
              transition: transform 250ms ease-in-out;
              -webkit-transition: transform 250ms ease-in-out;
              width: 100%;
              &:hover {
                transform: scale(1.04);
              }
            }
          }
        }
      }
      h3 {
        margin: 1em auto 0.25em;
        text-align: center;
      }
      h3 + span {
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: center;
      }
      a {
        color: $minty-green;
        text-decoration: none;
        .read-more {
          border: 0;
          display: block;
        }
      }
    }
    p {
      color: $london-square;
      font-style: italic;
      margin: auto;
      max-width: 60ch;
    }
  }
  .clients {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    header {
      h2 {
        font-size: 3vmax;
      }
    }
    .container {
      ul {
        list-style: none;
        li {
          a {
            color: $good-night;
            text-decoration: underline;
            transition: color 250ms ease-in-out;;
            &:hover {
              color: $london-square;
            }
          }
        }
      }
    }
  }

  .slides {
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    .inner-slides {
      display: flex;
      transform: translateX(0);
      transition: transform 500ms ease-in-out;
      width: 100%;
      .slide {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 100%;
        text-align: center;
        .row {
          .col-50 {
            span.testimonial {
              max-width: 60ch;
              text-align: left;
            }
            figure {
              figcaption {
                span {
                  color: #333;
                  font-size: 0.75em;
                  font-style: italic;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
    .buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        background: $spiro-disco-ball;
        color: #fff;
        border: 1px solid black;
        max-height: 50px;
        min-height: 40px;
        width: 49.5%;
      }
    }
  }
  #content {
    padding-top: 66px;
  }
  .main-footer {
    .row {
      padding: 1em;
      width: 100%;
      .container {
        width: 100%;
        h4 {
          font-size: 4vmin;
          font-weight: 800;
          text-align: center;
        }
        .col {
          margin: 1em auto;
          width: 100%;
          header {
            h5 {
              text-align: center;
            }
          }
          ul {
            list-style: none;

            li {
              margin: auto;
              max-width: 350px;
              text-align: center;
              &:nth-child(2n + 1) {
                background-color: #f9f9f9;
              }
            }
          }
        }
        p {
          a {
            color: $minty-green;
            text-decoration: none;
            transition: all 250ms ease-in-out;
            &:hover,
            &:active {
              color: $spiro-disco-ball;
            }
          }
        }
      }
    }
    .footer-links {
      ul {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        width: 100%;
        li {
          margin: 0 2em;
          text-align: center;
          width: 100%;
          a {
            color: $good-night;
            padding: 1em 1.5em;
            text-decoration: none;
            transition: all 250ms ease-in-out;
            &:hover,
            &:active {
              color: $minty-green;
            }
          }
        }
      }
      p {
        margin: 0 auto;
        padding: 0;
        text-align: center;
      }
    }
  }
}

/*********************
**Mobile Navigation***
**********************/

#nav-toggle {
  display: none;
}

#nav-toggle-label {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 999999999;
  a {
    color: $london-square;
    padding: 0.25vmin 0.5vmin;
    text-decoration: none;
  }
  .hamburger {
    background-color: $good-night;
    border-radius: 10px;
    height: 3px;
    margin: 1.75em 2em;
    position: relative;
    width: 40px;
    &:before,
    &:after {
      background: $good-night;
      border-radius: 10px;
      content: '';
      height: 3px;
      position: absolute;
      width: 40px;
    }
    &:before {
      top: -7px;
    }
    &:after {
      bottom: -7px;
    }
  }
}

.main-nav {
  background: rgba(255, 255, 255, 0.85);
  display: block;
  height: 0;
  margin: 0 auto;
  position: fixed;
  overflow: auto;
  top: calc(66px);
  transition: height 250ms ease-in-out 0.3s;
  width: 100%;
  z-index: 999;
  a.logo {
    display: none;
    text-decoration: none;
  }
  ul {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    list-style: none;
    li {
      padding: 0.5em 2em;
      a {
        display: block;
        color: $black-pearl;
        padding: 1em 1.5em;
        text-align: left;
        text-decoration: none;
        transition: color 250ms ease-in-out;
        -webkit-transition: color 250ms ease-in-out;
        &:hover {
          color: $minty-green;
        }
      }
    }
  }
}

#nav-toggle {
  &:checked ~ nav {
    height: 100vh;
  }
}



.main-header {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  section.container .col h1 {
    text-align: center;
  }
  
  .wrapper {
    min-height: 100%;
    .row {
      .container {
        padding: 0;
        width: 100%;
      }
    }
    #content {
      height: 100%;
      .homepage-header {
        background: url('/images/on-point-cutlery-header.jpeg') no-repeat center top / contain; 
        min-height: 50vh;
      }
      .single-page {
        h1,h2,h3,h4,h5,h6 {
          margin: 1em auto;
          text-align: center;
          padding-top: 1em;
        }
        .row {
          p {
            font-style: initial;
            text-align: left;
          }
          ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: square inside;
            margin: auto;
            max-width: 60ch;
            li {
              max-width: 60ch;
              text-align: left;
            }
          }
        }
      }
    }
    .main-footer {
      .footer-links {
        align-items: start;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        grid-gap: 25px;
        justify-items: center;
        ul {
          flex-direction: column;
          flex-wrap: nowrap;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          list-style: none;
          justify-content: flex-start;
          margin: 0 auto;
          max-height: 100px;

          li {
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 0;
            text-align: left;
            a {
              display: block;
              font-size: 12px;
              padding: .25em 0;
            }
          }
        }
        .address {
          grid-column-start: 2;
          grid-column-end: 3;
          padding: 0;
          padding-top: 0.25em;
          p {
            font-size: 14px;
            padding: 0;
            text-align: left;
            a {
              color: $spiro-disco-ball;
              text-decoration: none;
              transition: color 250ms ease-in-out;
              -webkit-transition: 250ms ease-in-out;
              &:hover {
                color: $london-square;
              }
            }
          }
        }
      }
      .row {
        .container {
          p {
            font-size: 12px;
            max-width: 100ch;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 968px) {
  #nav-toggle-label {
    display: none;
  }
  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    #content {
      padding-top: 0;
      .homepage-header {
        background-size: cover;
        min-height: 100vh;
      }
      main {
        margin: 0 auto;
        max-width: 968px;
      }
    }
    .row {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .container {
        display: flex;
        flex-direction: row;
      }
      .col-33 {
        width: 33%;
      }
      .col-50 {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 45%;
      }
      .portrait {
        margin-right: -3em;
      }
      #nav-toggle-label {
        a {
          font-size: 24px;
          padding-left: 1.33em;
          padding-top: 1em;
        }
        .hamburger {
          display: none;
        }
      }
      .w-100 {
        width: 100%;
      }
    }
    .clients {
      flex-direction: column;
      header {
        margin: 0 auto;
        h2 {
          display: block;
          font-size: 2.5vmax;
          text-align: center;
        }
      }
      .container {
        text-decoration: center;
        ul {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: auto;
          text-align: left;
          li {
            display: inline;
            padding: 1em 1.5em;
            text-align: left;
            &:nth-child(1) {
              padding-left: 0;
            }
            a {
              font-weight: 500;
            }
          }
        }
      }
    }

    .main-nav {
      align-items: center;
      background-color: rgba(255, 255, 255, 1);
      color: initial;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: unset;
      justify-content: space-around;
      padding-left: 1em;
      padding-right: 1em;
      position: initial;
      a.logo {
        display: initial;
        color: $black-pearl;
        font-weight: 800;
        margin: auto;
        text-align: left;
      }
      ul {
        align-items: center;

        display: flex;
        justify-content: flex-end;
        margin: auto;
        list-style: none;
        li {
          padding: 1em;
          a {
            color: $black-pearl;
            font-size: 14px;
            margin: 0 auto;
            padding: 0;
            position: relative;
            text-decoration: none;
            &:hover {
              color: $london-square;
              font-weight: 500;
            }
            &::after {
              bottom: -7px;
              background: $minty-green;
              content: '';
              display: block;
              height: 2px;
              left: 0;
              margin: 0 auto;
              position: absolute;
              transform-origin: left;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
              -webkit-transition: transform 250ms ease-in-out;
              width: 100%;
            }
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .main-footer {
      .row {
        .container {
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          h4 {
            font-size: 1.25vmax;
            padding-bottom: 1em;
          }
          .col {
            align-items: center;
            justify-content: center;
            display: flex;
            flex: 1 20%;
            flex-direction: column;
            header {
              h5 {
                position: relative;
                &:after {
                  background: #666;
                  bottom: -21px;
                  content: '';
                  display: block;
                  height: 2px;
                  left: 50%;
                  margin: 1em auto;
                  position: absolute;
                  transform: translateX(-50%);
                  width: 80px;
                }
              }
            }
            ul {
              margin: 1em auto;
              li {
                margin: 0 auto;
                text-align: left;
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
  section.row.slides {
    margin: 0 auto 1em;
    padding: 1em;
    width: 968px;
    .inner-slides {
      padding: 1em;
      .slide {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1366px;
    #content {
      margin: 0 auto;
    }
    .row {
      .container {
        display: flex;
        flex-direction: row;
      }
    }
    .main-nav {
      ul {
        li {
          a {
            padding: .5em 1em;
            outline: 1px solid #0be881;
            font-size: 1.25vmax;
            font-weight: 500;
            transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            -moz-transition: all 250ms linear;
            &::after {
              bottom: 0%;
            }
            }
          }
        }
      }
    }
  }

@media screen and (min-width: 1920px) {
  #top {
    position: relative;
  }
  .box-shadow {
    left: 0;
    padding: 0 !important;
    position: fixed;
    top: 0;
    transition: background-color 250ms ease-in-out;
    width: 100%;
    z-index: 5;
  }
  .wrapper {
    max-width: 1920px;
    .row {
      padding-left: 6em;
      padding-right: 6em;
      padding-top: 0;
      .container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1366px;
      }
      .main-nav {
        padding: 0;
        ul {
          li {
            a {
              font-size: 1vmax;
            }
          }
        }
      }
    }
    #content {
      padding-top: 0;
      main {
        min-width: 100%;
      }
    }
  }

  #toTop {
    span {
      font-size: 3vmax;
    }
  }
}



.fadeIn {
  opacity: 1 !important;
  transform: translateX(0) !important;
  
}