/*
Swedish Palette FlatUI.com
*/
$black-pearl: rgba(30, 39, 46, 1);
$good-night: rgba(72, 84, 96, 1);
$london-square: rgba(128, 142, 155, 1);
$minty-green: rgba(11, 232, 129, 1);
$spiro-disco-ball: rgba(15, 188, 249,1.0);


/*********************
******Animations******
**********************/

@keyframes shine{
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 110%;
  }
  100% {
    background-position: 1% 0%;
  }
}


/*********************
**Layouts**************
**********************/

*,
*::before,
*::after,
html,
body {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Dejavu Sans', Helvetica, sans-serif, monospace;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 .25em;
}

img {
  max-width: 100%;
}

img + p {
  text-align: left;
}

p {
  padding: 1em;
}

.wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  .row {
    padding: 0 .25em;
    .container {
      display: block;
      margin: 0 auto;
      width: 75%;
      h2 {
        font-size: 5vmin;
      }
    }
    .card-header {
      margin: 1em auto;
      text-align: center;
      h3 {
        color: $good-night;
        font-weight: 800;
        text-align: center;
      }
      h3 + span {
        display: inline-block;
        margin: 1em auto;
      }
    }
    h2{
      margin: 1em auto;
      text-align: center;
    }
    .col-33 {
      margin: 0 auto;
      padding: 0 .5em;
      width: 100%;
      a {
        color: $minty-green;
        display: block;
        text-decoration: none;
        width: 100%;
        button.read-more {
          animation: shine 10s ease inifinite;
          background: linear-gradient(0.75turn, $spiro-disco-ball, $spiro-disco-ball);
          background-repeat: no-repeat;
          background-size: 400% 400%;
          background-position: center;
          color: #fff;
          border: none;
          display: block;
          margin: 0 auto 1em;
          overflow: hidden;
          padding: 1em 1.5em;
          position: relative;
          transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          width: 250px;
          
          &:before {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255,255,255,0.5);
            width: 60px;
            height: 100%;
            top: 0;
            filter: blur(30px);
            transform: translateX(-100px) skewX(-15deg);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255,255,255,0.2);
            width: 30px;
            height: 100%;
            top: 0;
            filter: blur(5px);
            transform: translateX(-100px) skew(-15deg);
          }
          &:hover {
            &::before,
            &::after {
              transform: translateX(300px) skewX(-15deg);
              transition: 0.7s;
              -webkit-transition: 0.7s;
            }
            background-image: linear-gradient(to left, $spiro-disco-ball, $spiro-disco-ball);
            box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
            transform: scale(1.04);
          }
        }
      }
      .card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        transform: scale(1);
        transition: 250ms ease-in-out 0s;
        &:hover {
          box-shadow: 0px 11px 20px -4px rgba(41, 137, 216, 0.53);
          transform: scale(1.04);
        }
        header {
          margin-bottom: 1em;
        }
        .card-body {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            color: $london-square;
          }
        }
      }
    }
    .col-50 {
      margin: 0 auto;
      width: 100%;
      .card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        .card-body {
          text-align: center;
          img + p {
            color: $black-pearl;
            font-weight: 400;
            padding: 1em;
          }
        }
        .card-body + .card-footer {
          display: block;
          width: 100%;
          a {
            display: block;
            margin: 0 auto;
            padding: 1.5em 1.5em;
            .read-more {
              background: $spiro-disco-ball;
              color: #fff;
              cursor: pointer;
              border: none;
              display: block;
              letter-spacing: .25vmin;
              margin: auto;
              max-width: 250px;
              min-height: 80px;
              padding: 1em;
              text-shadow: 0 0 5px rgba(0,0,0,0.5);
              text-transform: uppercase;
              transition: transform 250ms ease-in-out;
              -webkit-transition: transform 250ms ease-in-out;
              width: 100%;
              &:hover {
                transform: scale(1.04);
              }
            }
          }
        }
      }
      h3 {
        margin: 1em auto .25em;
        text-align: center;
      }
      h3 + span {
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: center;
      }
      a {
        color: $minty-green;
        text-decoration: none;
        .read-more {
          border: 0;
          display: block;
        }
      }
      
    }

  }

  .slides {
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    .inner-slides {
      display: flex;
      transform: translateX(0);
      transition: transform 500ms ease-in-out;
      width: 100%;
      .slide {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 100%;
        text-align: center;
        .row {
          .col-50 {
            span.testimonial {
              max-width: 60ch;
              text-align: left;
            }
            figure {
              figcaption {
                span {
                  color: #333;
                  font-size: .75em;
                  font-style: italic;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
    .buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        background: $spiro-disco-ball;
        color: #fff;
        border: 1px solid black;
        max-height: 50px;
        min-height: 40px;
        width: 49.5%;
      }
    }
  }
  #content {
    padding-top: 66px;
    main {
      .homepage-header {
        .row {
          .col {
            h1 {
              padding: 0;
              text-align: center;
            }
            h1 + span {
              color: $london-square;
              display: inline-block;
              font-weight: 200;
              font-style: initial;
              text-align: center;
              padding: 0 .25em;
            }

            p {
              text-align: left;
              padding: 1em;
            }
            
          }
        }
      }
    }
  }
  .main-footer {
    .row {
      padding: 1em;
      width: 100%;
      .container {
        width: 100%;
        h4 {
          font-size: 4vmin;
          font-weight: 800;
          text-align: center;
        }
        .col {
          margin: 1em auto;
          width: 100%;
          header {
            h5 {
              text-align: center;
            }
          }
          ul {
            list-style: none;
            
            li {
              margin: auto;
              max-width: 350px;
              text-align: center;
              &:nth-child(2n + 1) {
                background-color: #f9f9f9;
              }
            }
          }
        }
        p {
          a {
            color: $minty-green;
            text-decoration: none;
            transition: all 250ms ease-in-out;
            &:hover,
            &:active {
              color: $spiro-disco-ball;
            } 
          }
        }
      }
    }
    .footer-links {
      ul {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;      
        li {
          margin: 0 2em;
          text-align: left;
          width: 100%;
          a {
            color: $good-night;
            text-decoration: none;
            transition: all 250ms ease-in-out;
            &:hover,
            &:active {
              color: $minty-green;
            }
          }
        }
      }
    }
  }
}

/*********************
**Mobile Navigation***
**********************/

#nav-toggle {
  display: none;
}

#nav-toggle-label {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 999999999;
  a {
    color: $london-square;
    padding: 0.25vmin 0.5vmin;
    text-decoration: none;
  }
  .hamburger {
    background-color: $good-night;
    border-radius: 10px;
    height: 3px;
    margin: 1.75em 2em;
    position: relative;
    width: 40px;
    &:before,
    &:after {
      background: $good-night;
      border-radius: 10px;
      content: '';
      height: 3px;
      position: absolute;
      width: 40px;
    }
    &:before {
      top: -7px;
    }
    &:after {
      bottom: -7px;
    }
  }
}

.main-nav {
  background: rgba(255, 255, 255, 0.85);
  display: block;
  height: 0;
  margin: 0 auto;
  position: fixed;
  overflow: hidden;
  top: calc(66px);
  transition: height 250ms ease-in-out 0.3s;
  width: 100%;
  z-index: 99999999999;
  a.logo {
    display: none;
    text-decoration: none;
  }
  ul {
    background: rgba(255, 255, 255, 0.85);
    display: block;
    list-style: none;
    li {
      padding: .5em 2em;
      a {
        display: block;
        color: $black-pearl;
        text-align: left;
        text-decoration: none;
        transition: color 250ms ease-in-out;
        -webkit-transition: color 250ms ease-in-out;
        &:hover {
          color: $minty-green;
        }
      }
    }
  }
}

#nav-toggle {
  &:checked ~ nav {
    height:300px;
  }
}

main {
  .homepage-header {
   /*background-image: linear-gradient(to bottom, rgba(255,255,255,0.65), rgba(255,255,255,0.65)),
                       url('../images/grinding-wheel.jpg'); */
    background-size: cover;
    background-position: center;
    min-width: 100vmin;
  }
}

.main-header {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  main {
    .homepage-header {
      text-align: center;
    }
  }
  .wrapper {
    .main-footer {
      .footer-links {
        ul {
          flex-direction: row;
        }
      }
      .row {
        .container {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 968px) {
  #nav-toggle-label {
    display: none;
  }
  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 968px;
    min-height: 100vh;
    #content {
      padding-top: 0;
      main {
        .homepage-header {
          .container {
            .row {
              padding: 1em;
              .col {
                margin: 0 auto;
                padding: 1em;
                width: 50%;
              }
            }
          }
        }
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .container {
        display: flex;
        flex-direction: row;
      }
      .col-33 {
        width: 33%;
      }
      .col-50 {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: auto;
            width: 45%;
      }
      #nav-toggle-label {
        a {
          font-size: 24px;
          padding-left: 1.33em;
          padding-top: 1em;
        }
        .hamburger {
          display: none;
        }
      }
      .w-100 {
        width: 100%;
      }
    }
    
    .main-nav {
      align-items: center;
      color: initial;
      display: flex;
      flex-direction: row;
      height: unset;
      justify-content: flex-start;
      padding-left: 1em;
      padding-right: 1em;
      position: initial;
      a.logo {
        display: initial;
        color: $black-pearl;
        font-weight: 800;
        text-align: left;
      }
      ul {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin: auto;
        list-style: none;
        li {
          padding: 1em;
          a {
            color: $black-pearl;
            font-size: 14px;
            margin: 0 auto;
            padding: 0;
            position: relative;
            text-decoration: none;
            &:hover {
              color: $london-square;
              font-weight: 500;
            }
            &::after {
              bottom: -7px;
              background: $minty-green;
              content: '';
              display: block;
              height: 2px;
              left: 0;
              margin: 0 auto;
              position: absolute;
              transform-origin: left;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
              -webkit-transition: transform 250ms ease-in-out;
              width: 100%;
            }
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .main-footer {
      .row {
        .container {
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          h4 {
            font-size: 1.25vmax;
            padding-bottom: 1em;
          }
          .col {
            align-items: center;
            justify-content: center;
            display: flex;
            flex: 1 20%;
            flex-direction: column;
            header {
              h5 {
                position: relative;
                &:after {
                  background: #666;
                  bottom: -21px;
                  content: '';
                  display: block;
                  height: 2px;
                  left: 50%;
                  margin: 1em auto;
                  position: absolute;
                  transform: translateX(-50%);
                  width: 80px;
                }
              }
            }
            ul {
              margin: 1em auto;
              li {
                margin: 0 auto;
                text-align: left;
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
  section.row.slides {
    margin: 0 auto 1em;
    padding: 1em;
    width: 968px;
    .inner-slides {
      padding: 1em;
      .slide {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1366px;
    #content {
      margin: 0 auto;
      main {
        .homepage-header {
          .container {
            .row {
              .col {
                margin: 0 auto;
                width: 45%;
                figure {
                  margin-top: 0;
                }
                .subtitle {
                  margin-left: 0;
                  padding:0;
                  text-align: left;
                }
                p {
                  padding: 1.5em;
                  text-align: left;
                }
                &:nth-child(2n) {
                  padding-top: 3em;
                }
              }
            }
          }
        }
      }
    }
    .row {
      .container {
        display: flex;
        flex-direction: row;
      }
    }
    .main-nav {
      ul {
        li {
          a {
            font-size: 1.25vmax;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1920px;
    .row {
      padding-left: 6em;
      padding-right: 6em;
      padding-top: 0;
      .container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1366px;
      }
      .main-nav {
        padding: 0;
        ul {
          li {
            a {
              font-size: 1vmax;
            }
          }
        }
      }
    }
    #content {
      padding-top: 0;
    }
  }
  main {
    .homepage-header {
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('../images/cleaver.jpg');
      background-position: center;
      background-size: cover;
      height: calc(100vh - (45px + 1em));
      position: relative;
      width: 100%;
      .container {
        display: block;
        margin: 1em auto;
        min-width: 768px;
        width: 100%;
        .row {
          display: flex;
          .col {
            margin: 0 auto;
            padding: 1em;
            width: 50%;
            figure {
              img {
                display: block;
                padding-top: 1em;
                object-fit: cover;
              }
            }
            h1 {
              color: #fff;
              display: block;
              font-weight: 700;
              margin-top: 0;
              text-align: center;
            }
            h1 + .subtitle {
              color:#eee !important;
              display: inline-block;
              padding-left: .5em;
              font-weight: 600;
            }
            &:nth-child(odd) {
              display: none;
            }
            &:nth-child(2) {
              background-color: rgba(0,0,0,0.75);
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);

            }
          }
        }
        p {
          color: #fff;
          font-style: italic;
          font-weight: 100;
          padding-top: .75em;

        }
      }
    }
  }
}
