<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body id="top" class="hide-me">
        <script>0</script>
        <div class="wrapper">
            {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        </div>
        {{- partial "components/scripts.html" . -}}
        <div id="toTop">
            <span><a href="#top">&#187;</a> </span>
        </div>
    </body>
</html>
