{{ define "main" }}
<main class="single-page">
  <section class="carousel-container">
    <div class="inner-container">
      {{ range .Site.Data.gallery }}
      <figure class="image-container">
        <img
          id="{{ add 1 1}}"
          src="{{.Site.BaseURL}}{{ .src }}"
          alt="{{ .alt }}"
        />
        <figcaption>{{ .caption }}</figcaption>
      </figure>
      {{ end }}
    </div>
  </section>
  <div class="btn-container">
    <button id="prev">&#10094;</button>
    <button id="next">&#10095;</button>
  </div>

  <!-- <section class="lightbox">
        <div class="inner-container">
            {{ range .Site.Data.gallery }}
            <figure class="image-container">
                <img class="lightImg" src="{{.Site.BaseURL}}{{ .src }}" alt="{{ .alt }}">
                <figcaption>{{ .caption }}</figcaption>
            </figure>
            {{ end }}
        </div>
        <div class="btn-container">
            <button id="lightPrev">&#10094;</button>
            <button id="lightNext">&#10095;</button>
        </div>
    </section>  -->
</main>

{{ end }}
