{{ define "main" }}

<main class="single-page">
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <div class="row">
       
            {{ .Content }}
        
    </div>
    <div class="row">
        <!-- <div class="container">
            <button class="read-more"><a href="https://www.picktime.com/5b073eac-2d5c-41fc-88f0-b7bf5b8dd6bc" target="_blank">Book Appointment</a></button>
        </div> -->
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </main>

{{ end}}