{{ define "main"}}
<main class="single-page" style="padding: 0;">
  <header id="banner" style=" display: flex; align-items: center; justify-content: center; background-image: linear-gradient(0.25turn, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('/images/cleaver.jpg'); background-attachment:fixed; background-repeat: repeat; background-size: cover; min-height: 66vh; min-width: 100%; margin: auto;">
    <h1 style="color: #fff; text-shadow: 0 0 2px #000">{{ .Title }}</h1>
  </header>
  <div class="row">
     
          {{ .Content }}
      
  </div>
  <div class="row">
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</main>

<!-- sidebar start -->


{{ end }}