    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <h1 class="h1-large">{{ .Title}}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="expertise">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="{{.Site.BaseURL}}images/icons/cleaver.webp" alt="cleaver" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Commercial<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p>We provide commercial knife sharpening services at your restaurant or commercial kitchen. We come to you so you don't have to halt your service operation</p>
                    </div> <!-- end of expertise -->

                    <div class="expertise">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="{{.Site.BaseURL}}images/icons/chef-knife.webp" alt="chef knife" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Residential<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p> We provide a quick and easy way to keep your knives razor sharp. We come to you with all the tools and supplies to make it a fast and easy process for you.</p>
                    </div> <!-- end of expertise -->
                    
                    <div class="expertise">
                        <div class="title-wrapper">
                            <div class="icon">
                                <img src="{{.Site.BaseURL}}images/icons/van.webp" alt="a van" height="100" width="100">
                            </div> <!-- end of icon -->
                            <h5>Mobile<br>Services</h5>
                        </div> <!-- end of title wrapper -->
                        <p>We have the ability to sharpen knives ranging from pocket knifes to chef knives. Our knife sharpening service is fully mobile, which means that we come to you.</p>
                    </div> <!-- end of expertise -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->