    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <h1 class="h1-large">{{ .Title }}</h1>
                    <h2 class="h2-large">Traverse City Knife Sharpening</h2>
                    <p data-aos="fade-in" data-aos-duration="1250" data-aos-delay="250" class="text-white bg-dark p-3">We are a mobile-only knife sharpening service based in Traverse City, Michigan.  We service Northern Michigan and beyond.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->
