<style type="text/css">
	.min-price {
		max-height: 100vh;
		opacity: 0;
		overflow-y: auto;
		transition: all 0.75s ease 500ms;
		-webkit-transition: all 0.75s ease 500ms;
	}

	.day,
	.hour,
	.minute,
	.promo-second {
		background: #fff;
		box-shadow: 2px 2px 15px -5px #000;
		border-radius: 50%;
		color: #000;
		cursor: pointer;
		display: inline-grid;
		place-items: center;
		height: 40px;
		width: 40px;
		margin: 10px;
		transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		font-weight: 700;
	}

	.day:hover,
	.hour:hover,
	.minute:hover,
	.promo-second:hover {
		transform: scale(1.15) rotateZ(720deg);
	}

	#cost {
		font-weight: 700;
	}

	.fade-in {
		opacity: 1;
	}
</style>

<section class="min-price container-fluid text-center p-3 bg-dark" aria-expanded="true">
	<div class="row">
		<div class="col-12">
			<h3 class="h2-heading mb-3 text-warning text-uppercase">Summer Savings</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-9 col-xl-6 mx-auto text-center text-uppercase">
			<p class="text-white d-flex flex-column flex-sm-column flex-md-row justify-content-center align-items-center">
				<span class="day"></span> Days <span class="hour"></span> Hours <span class="minute"></span> Minutes
				<span class="promo-second"></span> Seconds </p>
			<p class="lead p-3 text-info"><strong class="text-uppercase text-light">Minimum Price Notice: </strong>Until
				further notice we request a minimum service order of no less than <span id="cost"
					class="text-light">$40</span> <span class="text-muted" style="text-decoration: line-through;">$50</span> USD. Prices are subject to change at our discretion.</p>
			<button class="btn btn-primary close-modal my-3" id="minPrice" aria-label="close min price banner">I
				understand</button>
		</div>
	</div>
</section>



